extends layout

block content
    ArticleCount #{ArticleCount}
    Articles
      - each item in Articles
        item
            Title #{item.Title}
            Description #{item.Description}

  
  
 